
#input-page-content{
  display:block;
  width:100%;
  height:200px;
  margin:auto;
}

header{
  background-color:orange;
}

input,
 textarea{
   margin: 0 4px;
 }
/* #preview{
  border:2px solid red;
} */
#prev{
  overflow:auto;
}
#preview{
overflow:auto;
}

#footer{
  background-color: lightgray;
  max-width:100%;
}


/* code for preview page */
html, #body{
  height: 100%;
  margin: 0;
}

.wrapp{
  min-height: 100%;
  /* margin-bottom: -50px; */
}

#footer-2{
  /* height: 50px; */
  background-color: lightgreen;
  max-width:100%;
}
