
#input-page-content{
  display:block;
  width:100%;
  height:200px;
  margin:auto;
}



header{
  background-color:orange;
}

input,
 textarea{
   margin: 0 4px;
 }


/* #preview{
  border:2px solid red;
} */

#prev{
  overflow:auto;
}


#preview{

overflow:auto;

}
