
#input-page-content{
  display:block;
  width:100%;
  height:200px;
  margin:auto;
}

header{
  /* position: fixed;
  width: 100%;
  height: 75px;
  /* background-color: #f00; */
  padding: 10px;
  background-color:#555;
  color:white;
}



input,
 textarea{
   margin: 0 4px;
 }
/* #preview{
  border:2px solid red;
} */
#prev{
  overflow:auto;
}
#preview{
overflow:auto;
}

#footer{
  background-color: lightgray;
  max-width:100%;
}

#navbarTogglerDemo02 ul li a {
  color:lightgreen;
}

#navbarTogglerDemo02 ul li  a:hover
 {
  color:#f1f1f1;
}

#submit-page,
#edit-page{
  display:inline;
}

#preview-content-print p:first-letter{
   text-transform: capitalize;
}



/* code for preview page */
html, #body{
  height: 100%;
  margin: 0;
  /* position: relative; */
  overflow: auto;
}

#header-2{
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  /* position: fixed; */
  width: 100%;
  /* height: 75px; */
  /* background-color: #f00; */
}

option,h1,h2,h4,
#inputGroup{
  text-transform: capitalize;
}

#preview-content-print p:first-letter{
 text-transform: capitalize;
}


.wrapp{
  min-height: calc(100vh - 190px);
}

#footer-2{
  /* height: 50px; */
  background-color: lightgreen;
  max-width:100%;
}

#header-2 ul li  a:hover,
header ul li  a:hover {
  color:#f1f1f1;
}
